<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="login-container">
          <h2 class="text-center mb-4">Login</h2>
          <form #loginForm="ngForm"  autocomplete="off" (ngSubmit)="login()">
            <div class="mb-3">
              <label for="username" class="form-label">Email</label>
              <input 
               name="email"
              [(ngModel)]="model.email"
              class="form-control me-2" 
              type="text" 
              placeholder="Email">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input 
              name="password"
              [(ngModel)]="model.password"
              class="form-control me-2" 
              type="password" 
              placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>